.titulo{
    display: flex;
    justify-content: space-between;
    margin:  0 10em auto;
}

.form_control {
    display: flex;
    flex-direction:column;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 10em;

}

.form_control label {
    padding: 0.7em;
    max-width: 40em;
    background-color: #adb5bd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form_control input {
    max-width: 48em;
    padding: 0.7em;
    border-radius: 0;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form_control select{
    max-width: 48em;
    padding: 0.7em;
    border-radius: 0;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 1em;
}