.table table{
    position: block;
    max-width: 100%;
    height: 50%;
    margin-top: 2em;
}

.table thead tr th{
    background-color: #38a3a5;
    padding: 10px;
    font-size: 20px; 
}

.btn_tab{
    text-align: center;
    width: 500px;
    background-color: #fff;
}

.titulo{
    display: flex;
    justify-content: space-between;
}

.exc{
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e5;
    border: none;
    padding: 11px 20px 11px 20px;
    color: #000;
}

.exc:hover{
    background-color: #495057;
}

.container{
    margin-left: 10em;
    margin-right: 10em;
}



